<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NMFClientId</key>
	<string>$(NAVER_MAP_NCP_KEY_ID)</string>
	<key>NaverMapStyleID</key>
	<string>$(NAVER_MAP_STYLE_ID)</string>
	<key>VWorldAPIKey</key>
	<string>$(VWORLD_API_KEY)</string>
</dict>
</plist>
